{% extends "myapp/base.html" %}

{% load static %}

{% block content %}


<div class=" h-screen w-full relative" style="background-image: url('{% static 'myapp/images/bgtrain.jpg' %}'); background-size: cover; background-position: center; height:520px">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="absolute inset-0 flex flex-col items-center justify-center">
        <h1 class="text-white text-4xl font-bold text-center mb-6">Train Ticket Booking</h1>
        <form method="POST" action={% url 'choose_train_list' %}>
            {% csrf_token %}
            <input list="choices" name="source_station" placeholder="Source Station" required>
            <input list="choices" name="destination_station" placeholder="Destination Station" required>
            <input type="date" name="travel_date" required>
            <datalist id="choices">
            {% for station_code in station_codes %}
                <option value="{{ station_code }}">
            {% endfor %}
            </datalist>
            <div class="flex items-center justify-center w-full mt-6">
                <button type="submit" class="h-12 px-6 rounded-full  bg-[#D84E55] text-white hover:bg-red-700">Search</button>
            </div>
        </form>
        
    </div>
</div>

{% endblock%}