{% extends "myapp/base.html" %}
{% load static %}

{% block content %}


<div class=" h-screen w-full relative" style="background-image: url('{% static 'myapp/images/bgtrain.jpg' %}'); background-size: cover; background-position: center; height: 320px;">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="absolute inset-0 flex flex-col items-center justify-center">
        <h1 class="text-white text-4xl font-bold text-center mb-6">Train Ticket Booking</h1>
        <form method="POST" action={% url 'choose_train_list' %}>
            {% csrf_token %}
            <input list="choices" id="source_station" name="source_station" placeholder="Source Station">
            <input list="choices" name="destination_station" placeholder="Destination Station">
            <datalist id="choices">
            {% for station_code in station_codes %}
                <option value="{{ station_code }}">
                   
            {% endfor %}
            </datalist>
            <div class="flex items-center justify-center w-full mt-6">
                <button type="submit" class="h-12 px-6 rounded-full  bg-[#D84E55] text-white hover:bg-red-700">Search</button>
            </div>
        </form>
        
    </div>
</div>
<div class="flex justify-center flex-col  items-center">
    <h1 class="text-3xl text-center font-semibold mt-3 text-[#26171B]">Relevant Trains</h1>

    {% if relevant_trains %}
        <div class="flex flex-col m-3">
            {% for train in relevant_trains %}
                <div class="bg-[#D84E55] w-[500px] shadow-lg md:w-[700px] text-center py-4 text-lg text-[#26171B] rounded-lg  px-12 m-4">
                    <h2 class="text-xl text-center font-semibold mb-2">{{ train.train__train_name }} ({{ train.train__train_number }})</h2>
                    <p class=" text-center mb-2" >Runs On: {{ train.train__runs_on }}</p>
                    <div class="flex justify-between w-[400px] md:w-[500px] mx-auto my-auto items-center">
                        <p class="font-bold text-md"> {{ source_station }}</p>
                        <p class="opacity-40 text-sm"> ----------------------
                            {{overall_relative_distance}}
                            km----------------------> </p>
                        <p class="font-bold text-md">{{ destination_station }}</p>
                    </div>
                    <div class="flex justify-between w-[400px] md:w-[500px] mx-auto my-auto items-center">
                        <p class="text-red-950">{{ train.arrival_time|time:"H:i"  }}</p>
                        <p class="text-red-950">{{ train.destination_arrival_time|time:"H:i"  }}</p>
                    </div>
                    {% comment %} TICKET CARDS {% endcomment %}
                <div class="flex justify-evenly mt-3 ">
                        <form method="POST" action="{% url 'booking_form' %}" class="bg-slate-200 rounded-lg mx-2 w-1/2 shadow-md">
                            <input type="hidden" name="ticket_type" value="1AC">
                            <input type="hidden" name="fare" value="{{ train.relative_fare_1ac }}">
                            <input type="hidden" name="total_tickets" value="{{ train.train__total_seats_1ac }}">
                            <input type="hidden" name="train_number" value="{{ train.train__train_number }}">
                            {% csrf_token %}
                            <button type="submit">
                                <p class="font-bold pt-1">1AC</p>
                                <p>{{ train.train__total_seats_1ac }} Available</p>
                                <p class="text-green-600">₹{{ train.relative_fare_1ac }}</p>
                            </button>
                        </form>
                  
                        <form method="POST" action="{% url 'booking_form' %}"  class="bg-slate-200 rounded-lg mx-2 w-1/2 shadow-md">
                             <input type="hidden" name="ticket_type" value="2AC">
                            <input type="hidden" name="fare" value="{{ train.relative_fare_2ac }}">
                            <input type="hidden" name="total_tickets" value="{{ train.train__total_seats_2ac }}">
                            <input type="hidden" name="train_number" value="{{ train.train__train_number }}">
                            {% csrf_token %}
                            <button type="submit">
                                <p class="font-bold pt-1">2AC</p>
                                <p>{{ train.train__total_seats_2ac }} Available</p>
                                <p class="text-green-600">₹{{ train.relative_fare_2ac }}</p>
                            </button>
                        </form>
                        <form method="POST" action="{% url 'booking_form' %}"  class="bg-slate-200 rounded-lg mx-2 w-1/2 shadow-md">
                             <input type="hidden" name="ticket_type" value="3AC">
                            <input type="hidden" name="fare" value="{{ train.relative_fare_3ac }}">
                            <input type="hidden" name="total_tickets" value="{{ train.train__total_seats_3ac }}">
                            <input type="hidden" name="train_number" value="{{ train.train__train_number }}">
                            {% csrf_token %}
                            <button type="submit">
                                <p class="font-bold pt-1">3AC</p>
                                <p>{{ train.train__total_seats_3ac }} Available</p>
                                <p class="text-green-600">₹{{ train.relative_fare_3ac }}</p>
                            </button>
                        </form>
                </div>
                {% comment %} TICKET CARDS END {% endcomment %}
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
        <p>No relevant trains found.</p>
    {% endif %}
</div>



  {% endblock%}