{% extends "myapp/base.html" %}

{% block content %}
{% include 'myapp/_search_form.html' %}

{% comment %} display train data {% endcomment %}

<div class="flex justify-center">
   <h1 class="text-2xl text-[#26151A]  px-2 pt-2  font-bold"> {{train.train_number}} : </h1>
   <h1 class="text-2xl text-[#26151A] pt-2  font-bold"> {{train.train_name}} : Stations </h1>
   
</div>

<!-- Display the station data -->
<div class="container mx-auto px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 pt-5 pb-10 text-xl">
    <div class="overflow-x-auto">
        <table class="min-w-full bg-[#e1787d] border border-gray-300">
            <thead>
                <tr>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Station Code</th>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Station Name</th>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Distance</th>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Arrival Time</th>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Halt Time(min)</th>
                </tr>
            </thead>
            <tbody>
                {% for station in stations %}
                    <tr class="sm:h-10 md:h-10 lg:h-20">
                        <td class="py-2 px-4 border-b  text-slate-800  text-center">{{ station.station_code }}</td>
                        <td class="py-2 px-4 border-b  text-slate-800  text-center">{{ station.station_name }}</td>
                        <td class="py-2 px-4 border-b   text-slate-800 text-center">{{ station.distance }}</td>
                        <td class="py-2 px-4 border-b   text-slate-800 text-center">{{ station.arrival_time|time:"H:i" }}</td>
                        <td class="py-2 px-4 border-b   text-slate-800 text-center">{{ station.halt_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
