{% extends "myapp/base.html" %}

{% block content %}
{% include 'myapp/_search_form.html' %}

{% comment %} display train data {% endcomment %}

<div class="flex justify-center">
   <h1 class="text-2xl text-[#26151A]  px-2 pt-2  font-bold"> {{train.train_number}} : </h1>
   <h1 class="text-2xl text-[#26151A] pt-2  font-bold"> {{train.train_name}} : Stations </h1>
   
</div>

<!-- Display the station data -->
<div class="container mx-auto px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 pt-5 pb-10 text-xl">
    <div class="overflow-x-auto">
        <table class="min-w-full bg-[#e1787d] border border-gray-300">
            <thead>
                <tr>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Station Code</th>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Station Name</th>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Distance</th>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Arrival Time</th>
                    <th class="py-2 text-slate-900 font-bold px-4 border-b sm:w-1/5 md:w-1/5 lg:w-1/5">Halt Time(min)</th>
                </tr>
            </thead>
            <tbody>
                {% for station in stations %}
                    <tr class="sm:h-10 md:h-10 lg:h-14">
                        <td class="py-2 px-4 border-b  text-slate-800  text-center">{{ station.station_code }}</td>
                        <td class="py-2 px-4 border-b  text-slate-800  text-center">{{ station.station_name }}</td>
                        <td class="py-2 px-4 border-b   text-slate-800 text-center">{{ station.distance }}</td>
                        <td class="py-2 px-4 border-b   text-slate-800 text-center">{{ station.arrival_time|time:"H:i" }}</td>
                        <td class="py-2 px-4 border-b   text-slate-800 text-center">{{ station.halt_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% comment %} http://127.0.0.1:8000/train/?train_number=1009&page=1 {% endcomment %}
    <div class="mt-5 flex justify-center px-2 pb-2 w-full">
        {% if stations.has_previous %}
            <a href="?train_number={{ train.train_number }}&page={{ stations.previous_page_number }}" class="text-white w-20 text-center p-2 rounded-md mr-4 bg-[#D84E55]">prev</a>
        {% else %}
            <span class="text-gray-300 w-20  hover:cursor-not-allowed text-center p-2 mr-4 rounded-md bg-slate-700"> X </span>
        {% endif %}
        {% if stations.has_next %}
            <a href="?train_number={{ train.train_number }}&page={{ stations.next_page_number }}" class="text-white w-20 text-center p-2 rounded-md bg-[#D84E55]">next</a>
        {% else %}
            <span class="text-gray-300 w-20 hover:cursor-not-allowed text-center p-2 rounded-md bg-slate-700"> X </span>
        {% endif %}
    </div>
<div class="flex justify-center">
    <span class="text-gray-600 text-md">{{ stations.paginator.count }} stations : </span>
    <span class="text-gray-600 text-md">Page {{ stations.number }} of {{ stations.paginator.num_pages }}.</span>
</div>
</div>




{% endblock %}
