{% extends "myapp/base.html" %}

{% load static %}

{% block content %}
<div class="h-screen w-full relative" style="background-image: url('{% static 'myapp/images/bgtrain.jpg' %}'); background-size: cover; background-position: center;">
    <div class="absolute inset-0 -z-1 bg-black opacity-50"></div>
    <div class="my-20  w-1/2 z-10 relative bg-[#b13f45c4]  mx-auto rounded-xl p-5">
        <h1 class="mb-6 text-white text-3xl"> Login </h1>
        <form method="post" action=".">
            {% csrf_token %}
            <div class="mb-3">
                <label class="text-slate-200 inline-block"> Username </label> <br> {{form.username}}
            </div>
          
            <div class="mb-3">
                <label class="text-slate-200 inline-block"> Password </label> <br> {{form.password}}
            </div>
           
            {% if form.non_field_errors or form.errors %}
            <div class="mb-3 bg-red-400 p-3 rounded-xl">
                {% for field in form %}
                    {{field.errors}}
                {% endfor %}
                {{form.non_field_errors}}
            </div>
            {% endif %}
            <div class="flex items-center justify-center">
                <button class="py-4 px-8 text-lg mt-5 bg-red-500 hover:bg-red-900 text-white rounded-xl"> Login</button>
            </div>
          
        </form>
        {% load socialaccount%}
        <div class="text-white text-center my-2 relative"> OR</div>
        <div class="flex justify-center items-center relative ">
            <a class= "p-2 bg-red-500 text-white hover:bg-red-800 rounded-lg" href = "{% provider_login_url 'google' %}"> Login with Google</a>
        </div>
    </div>
</div>
{% endblock %}
