{% extends "myapp/base.html" %}
{% block content %}
<script>
    let passengers = []
    let passenger_count =0
    let ticket_fare = {{fare}}
    let train_number = "{{train_number}}"
    let ticket_type = "{{ticket_type}}"
    let wallet_balance = {{user.profile.wallet_balance}};

    function updateHiddenInput(){
        document.getElementById('backend_passenger_data').value = JSON.stringify(passengers)
    };
    function addPassenger(){
        let passenger_first_name = document.getElementById('id_first_name').value
        let passenger_age = document.getElementById('id_age').value
        if(passenger_first_name.trim() !== '' && passenger_age.trim() !==''){
            let passenger= {
                name:passenger_first_name,
                age:passenger_age,
                ticket_fare:ticket_fare,
                train_number:train_number,
                ticket_type:ticket_type,
            };
            passengers.push(passenger);
            passenger_count++;
            let passengerDiv = document.createElement('div');
            passengerDiv.textContent = `passenger ${passenger_count}:: Name: ${passenger_first_name} Age: ${passenger_age}`
            document.getElementById('passengerList').appendChild(passengerDiv)
            document.getElementById('passenger_tickets_count').textContent = `Total Tickets ${passenger_count}`
            document.getElementById('id_first_name').value = ''
            document.getElementById('id_age').value = ''
            updateHiddenInput()
        }
    }
    function checkAndSubmit(){
        let total_fare = passenger_count * ticket_fare
        if(passenger_count==0 ){
            alert("add atleast one passenger")
            return
        }
        if(total_fare>wallet_balance){
            alert('You ran out of budget, add money in your wallet from profile');
            return
        }
        const confirmation = window.confirm(
        `Total fare: Rs.${total_fare}\nDo you want to proceed with the booking?`
        );
        if(confirmation){
            fetch('/booking/submit/',{
                method : 'POST',
                headers: {
                    'Content-Type' : 'application/json',
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
                body: JSON.stringify({passengers: passengers})
            })
            .then(response=>response.json())
            .then(data=>{
                if(data.success){
                    alert("Passenger data submitted successfully");
                    window.location.href = '/booking/mytickets/';
                }
                else{
                    alert('Submission failed: ' + data.message);
                }
            })
            .catch(error=>{
                console.error('Error',error)
            })
        }
        else{
            alert("Booking cancelled")
        }
        
    }
    function clearList(){
        passengers = []
        document.getElementById('passengerList').innerHTML = ''
        document.getElementById('passenger_tickets_count').innerHTML = ''
    }
</script>
<div class="mt-8 ">
    <h1 class="text-2xl text-center font-semibold mb-4">Booking Form</h1>

    <div class="flex items-center bg-slate-500 justify-center flex-col">
        <div class="flex flex-col">
            <p><strong>Train Number:</strong> {{ train_number }}</p>
            <div class="flex">
                <p>{{ ticket_type }}</p>
                <p><strong>- {{ total_seats }} Available:</strong> </p>
            </div>
            <p class="text-center"><strong>Fare:</strong> Rs.{{ fare }}/person </p>
            <p class="text-center"><strong>Your Wallent Balance:</strong> Rs.{{user.profile.wallet_balance}}</p>
            

        </div>

        <form method="post" id="passengerForm">
            {% csrf_token %}
         
            <label for="id_first_name">Passenger Name:</label>
            <input type="text" name="first_name" id="id_first_name">
        
            <label for="id_age">Age:</label>
            <input min='0' max='100' type="number" name="age" id="id_age">
        
            <button type="button" class="bg-blue-500 text-white py-2 px-4 rounded" onclick="addPassenger()">Add Passenger</button>
            <button type="button" class="bg-red-500 text-white py-2 px-4 rounded" onclick="clearList()">Clear List</button>

        </form>
        <form method='post'>
            {% csrf_token %}
            <input type="hidden" name="backend_passenger_data" id="backend_passenger_data">
            <button type="button" class="bg-green-500 text-white py-2 px-4 rounded" onclick="checkAndSubmit()">Submit</button>
        </form>
        </div>
        <div id="passengerList">
        </div>
        <div >
            <p id="passenger_tickets_count">
            </p>
        </div>
    </div>


{% endblock %}
