{% extends "myapp/base.html" %}
{% load static %}

{% block content %}

<div class="bg-slate-200 flex flex-col bg-cover bg-center min-h-screen w-full relative" style="background-image: url('{% static 'myapp/images/bgtrain.jpg' %}');">
    <div class="absolute inset-0 bg-black opacity-50"> </div>
    <h1 class="text-2xl text-center font-semibold mt-2 text-white relative mb-4">My Tickets</h1>

        {% if bookings %}
        <div class="table-container flex relative flex-col items-center mx-auto max-h-[600px] w-fit overflow-y-auto overscroll-auto mb-12">
            <table class="table-auto text-center ">
                <thead>
                    <tr class="bg-slate-300">
                        <th class="px-4 py-2">Passenger info</th>
                        <th class="px-4 py-2">Passenger Age</th>
                        <th class="px-4 py-2">Edit</th>
                        <th class="px-4 py-2">Train Number</th>
                        <th class="px-4 py-2">Ticket Type</th>
                        <th class="px-4 py-2">Fare</th>
                        <th class="px-4 py-2">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr class="m-2">
                        <td class="border px-4 py-2 text-slate-200 font-bold bg-[#d84e55d6] w-[300px] h-[110px]">
                            <span id="passenger_name_{{ booking.id }}">{{ booking.passenger_first_name }}</span>
                            <input class="w-52 text-black" type="text" id="edit_passenger_name_{{ booking.id }}" style="display: none;" value="{{ booking.passenger_first_name }}">
                        </td>
                        <td class="border px-4 py-2 text-slate-200 font-bold bg-[#d84e55d6] w-[200px] h-[110px] ">
                            <span id="passenger_age_{{ booking.id }}">{{ booking.passenger_age }}</span>
                            <input class=" text-black" type="number" min="0" max="100" id="edit_passenger_age_{{ booking.id }}" style="display: none;" value="{{ booking.passenger_age }}">
                        </td>
                        <td class="border px-4 py-2 text-slate-200 font-bold bg-[#d84e55d6] w-[220px] h-[110px] ">
                            <button class="text-white bg-slate-600 hover:opacity-100 opacity-85 m-1 p-3 rounded-lg " onclick="editPassenger({{ booking.id }})">Edit</button>
                            <button class="text-white bg-slate-600 hover:opacity-100 opacity-85 m-1 p-3 rounded-lg " onclick="saveChanges({{ booking.id }})" style="display: none;">Save</button>
                            <button class="text-white bg-slate-600 hover:opacity-100 opacity-85 m-1 p-3 rounded-lg " onclick="cancelChanges({{ booking.id }})" style="display: none;">Cancel</button>
                        </td>
                        <td class="border px-4 py-2 text-slate-200 font-bold bg-[#d84e55d6] w-[110] h-[110px] ">{{ booking.train_number }}</td>
                        <td class="border px-4 py-2 text-slate-200 font-bold bg-[#d84e55d6] w-[110] h-[110px] ">{{ booking.ticket_type }}</td>
                        <td class="border px-4 py-2 text-slate-200 font-bold bg-[#d84e55d6] w-[110] h-[110px] ">Rs.{{ booking.fare }}</td>
                        <td class="border px-4 py-2 text-slate-200 font-bold bg-[#d84e55d6] w-[110] h-[110px] ">
                            {% if booking.cancel_status %}
                                Rejected
                            {% else %}
                                Active
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p class="text-center">No bookings available.</p>
        {% endif %}

        <script>
            function editPassenger(bookingId) {
                document.getElementById(`passenger_name_${bookingId}`).style.display = 'none';
                document.getElementById(`edit_passenger_name_${bookingId}`).style.display = 'inline-block';
    
                document.getElementById(`passenger_age_${bookingId}`).style.display = 'none';
                document.getElementById(`edit_passenger_age_${bookingId}`).style.display = 'inline-block';
    
                document.querySelector(`button[onclick="editPassenger(${bookingId})"]`).style.display = 'none';
                document.querySelector(`button[onclick="saveChanges(${bookingId})"]`).style.display = 'inline-block';
                document.querySelector(`button[onclick="cancelChanges(${bookingId})"]`).style.display = 'inline-block';
    
            }
    
            function saveChanges(bookingId) {
                const newName = document.getElementById(`edit_passenger_name_${bookingId}`).value;
                const newAge = document.getElementById(`edit_passenger_age_${bookingId}`).value;
                const newData = { newName, newAge };
                fetch(`edit_passenger/${bookingId}/`,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    },
                    body: JSON.stringify(newData),
                })
                .then(response=>response.json())
                .then(data=>{
                    if(data.success){
                        alert(data.message)
                        location.reload()
                    }else{
                        alert('error', data.message)
                    }
    
                })
                .catch(error=>{
                    console.error(error)
                })
                document.getElementById(`passenger_name_${bookingId}`).textContent = newName;
                document.getElementById(`passenger_age_${bookingId}`).textContent = newAge;
    
                document.getElementById(`passenger_name_${bookingId}`).style.display = 'inline-block';
                document.getElementById(`edit_passenger_name_${bookingId}`).style.display = 'none';
    
                document.getElementById(`passenger_age_${bookingId}`).style.display = 'inline-block';
                document.getElementById(`edit_passenger_age_${bookingId}`).style.display = 'none';
    
    
                document.querySelector(`button[onclick="editPassenger(${bookingId})"]`).style.display = 'inline-block';
                document.querySelector(`button[onclick="saveChanges(${bookingId})"]`).style.display = 'none';
                document.querySelector(`button[onclick="cancelChanges(${bookingId})"]`).style.display = 'none';
    
            }
            function cancelChanges(bookingId){
                document.getElementById(`passenger_name_${bookingId}`).style.display = 'inline-block';
                document.getElementById(`edit_passenger_name_${bookingId}`).style.display = 'none';
    
                document.getElementById(`passenger_age_${bookingId}`).style.display = 'inline-block';
                document.getElementById(`edit_passenger_age_${bookingId}`).style.display = 'none';
    
                document.getElementById(`passenger_age_${bookingId}`).style.display = 'inline-blockne';
                document.getElementById(`edit_passenger_age_${bookingId}`).style.display = 'none';
    
                document.querySelector(`button[onclick="editPassenger(${bookingId})"]`).style.display = 'inline-block';
                document.querySelector(`button[onclick="saveChanges(${bookingId})"]`).style.display = 'none';
                document.querySelector(`button[onclick="cancelChanges(${bookingId})"]`).style.display = 'none';
    
            }
        </script>
    
{% endblock content %}
